<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="logo">
                <img class="care-logo" src="components/header/images/care.png">
            </div>           
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="tabbable-panel pull-right">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_default_1" data-toggle="tab">
                                Home </a>
                        </li>
                        <li>
                            <a href="#tab_default_2" data-toggle="tab">
                                Messages </a>
                        </li>
                        <li>
                            <a href="#tab_default_3" data-toggle="tab">
                                Jobs </a>
                        </li>
                        <li>
                                <a href="#tab_default_3" data-toggle="tab">
                                    Payments </a>
                            </li>
                        <li>
                            <button type="button" class="btn btn-sm btn-danger upgrade">Upgrade</button>
                        </li>
                        <li>
                            <div class="dropdown">
                                <button class="logout" type="button" data-toggle="dropdown"><img class="logout-image" src="components/header/images/ulogo.jpg"></button>
                                <span class="caret" type="button" data-toggle="dropdown"></span>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">HTML</a></li>
                                    <li><a href="#">CSS</a></li>
                                    <li><a href="#">JavaScript</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row caregivers">
        
            <div class="col-md-1 caregivers-content">
                <button type="button" class="btn btn-lg upgrade">Post a Job</button>
            </div>
            <div class="col-md-11 search-section">
                <div class="row">
                                    <div class="col-md-9 col-xs-12 dropdown1">
                                            <div class="input-group-btn search-panel">
                                                    <button type="button" class="btn btn-default dropdown-toggle findcaregiversButton" data-toggle="dropdown">
                                                        <span id="search_concept">Find Caregivers</span> <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#contains">Contains</a></li>
                                                    <li><a href="#its_equal">It's equal</a></li>
                                                    <li><a href="#greather_than">Greather than </a></li>
                                                    <li><a href="#less_than">Less than </a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#all">Anything</a></li>
                                                    </ul>
                                                </div>   
                                    </div>
                                    <div class="col-md-3 col-xs-12 dropdown2">
                                            <div class="distance-box">
                                                    <div class="distance-select">
                                                            <div class="near-box" style="margin-left:15px;">
                                                                    NEAR
                                                                </div>
                                                                <div class="near-box">
                                                                    <input type="text" class="form-control near-input" name="name" id="name" value="02134">
                                                                </div>
                                                                <div class="near-box">
                                                                        WITHIN
                                                                </div>
                                                                <div class="near-box pull-right">
                                                                    <button type="button" class="btn btn-default dropdown-toggle within-dropdown" data-toggle="dropdown">
                                                                        <span id="search_concept">10 miles</span> <span class="caret"></span>
                                                                    </button>
                                                                    <ul class="dropdown-menu dropdown-menu-right distance-dropdown" role="menu">
                                                                        <li><a href="#contains">20 miles</a></li>
                                                                        <li><a href="#its_equal">30 miles</a></li>
                                                                        <li><a href="#greather_than">40 miles</a></li>
                                                                    </ul>
                                                                </div>
                                                                
                                                    </div>
                                                    
                                                    
                                                    
                                    </div>       
                                    <div class="search-icon">
                                                        
                                            <button class="btn btn-default searchbutton" type="button"><img src="components/header/images/search.png" style="width:100%"></button>
                                        
                                    </div>
                </div>                    
            </div>
        </div>
    
</div>    