.container-fluid{
    padding: 0;
}

body{
    font-family: Helvetica;
    
}



.header{
    height: 124px;
    width: 1202px;
}

header{
    font-family:  Helvetica;
}

#footer{
    background-color: rgb(249,249,249) !important;
    
}

.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.btn-default{
    border-top-left-radius:5px ;
    border-bottom-left-radius: 5px ;
    background-color: #fff ;
    border-color: #fff;
    color: #666666;
}

.btn-default:hover{
    border-top-left-radius:5px ;
    border-bottom-left-radius: 5px ;
    background-color: #fff ;
    border-color: #fff;
}

.btn-default:focus{
    border-top-left-radius:5px ;
    border-bottom-left-radius: 5px ;
    background-color: #fff ;
    border-color: #fff;
}

.btn:focus{
    outline: none !important;
}

input{
    color: #ccc;
}